extends layout

block content
  link(rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
  script(src="https://code.jquery.com/jquery-1.12.4.js")
  script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
  script.
    $( function() {$( "#datepicker" ).datepicker();} );
  #calendarGroupStage.container.addMatch
   h1= 'Add Matches'
   p You can start adding matches for the league
   div(id="ctl00_Div2" style="" class="row")
     div
       if message
         div(class="alert alert-danger")!= message
       if addedMatch
         div(class="alert alert-success")!= "Great. You have added <b>" + addedMatch + "</b>"
       if notaddedMatch
         div(class="alert alert-danger")!=  notaddedMatch
       - var homeval = ''
       - var visitorval = ''
       - var dateval = ''
       - var leagueval = ''
       - var hourval = ''
       - var minsval = ''
       if hometeam_val != null && hometeam_val != ""
          - homeval = "value='" + hometeam_val + "'"
       if visitorteam_val != null && visitorteam_val != ""
          - visitorval = visitorteam_val
       if datepicked_val != null && datepicked_val != ""
          - dateval = datepicked_val
       if league_val != null && league_val != ""
          - leagueval = league_val
       if hour_val != null && hour_val != ""
          - hourval = hour_val
       if mins_val != null && mins_val != ""
          - minsval = mins_val
        div(id="ctl00_Div2"  class="row roundHdr")
          h1= 'Matches'
          h1(visitorval) #{visitorval}
          - nodups = []
       form(action="/add" method="post")
         div(class="textentry")
           input(name="home_team" type="text" id="home_team" class="form-control addInput " + hometeam_error placeholder="Home Team" value=homeval)
         div(class="textentry")
           input(name="visitor_team" type="text" id="visitor_team" class="form-control addInput " + visitorteam_error placeholder="Visitor Team" value=visitorval)
         div(class="textentry")
           select(style="width:100%" name="league" class="addInput " + league_error)
             option(value="select" selected=(leagueval=="select" ? "selected" : undefined))!= "Select League"
             option(value="France" selected=(leagueval=="France" ? "selected" : undefined))!= "France"
             option(value="Italy" selected=(leagueval=="Italy" ? "selected" : undefined))!= "Calcio Italy"
             option(value="United States" selected=(leagueval=="United States" ? "selected" : undefined))!= "MLS"
             option(value="uk" selected=(leagueval=="uk" ? "selected" : undefined))!= "UK Premiership"
             option(value="Brazil" selected=(leagueval=="Brazil" ? "selected" : undefined))!= "Brazil"
             option(value="Argentina" selected=(leagueval=="Argentina" ? "selected" : undefined))!= "Argentina"
             option(value="ChampionsLeague" selected=(leagueval=="ChampionsLeague" ? "selected" : undefined))!= "Champions League"
             option(value="EuropaLeague" selected=(leagueval=="EuropaLeague" ? "selected" : undefined))!= "Europa League"
             option(value="Other" selected=(leagueval=="Other" ? "selected" : undefined))!= "Other"

         div(class="textentry")
           select(style="width:49%" name="hr" class="addInput " + hour_error)
             option(value="select" selected=(hourval=="select" ? "selected" : undefined))!= "Select Hour"
             option(value="00" selected=(hourval=="00" ? "selected" : undefined))!= "00"
             option(value="01" selected=(hourval=="01" ? "selected" : undefined))!= "01"
             option(value="02" selected=(hourval=="02" ? "selected" : undefined))!= "02"
             option(value="03" selected=(hourval=="03" ? "selected" : undefined))!= "03"
             option(value="04" selected=(hourval=="04" ? "selected" : undefined))!= "04"
             option(value="05" selected=(hourval=="05" ? "selected" : undefined))!= "05"
             option(value="06" selected=(hourval=="06" ? "selected" : undefined))!= "06"
             option(value="07" selected=(hourval=="07" ? "selected" : undefined))!= "07"
             option(value="08" selected=(hourval=="08" ? "selected" : undefined))!= "08"
             option(value="09" selected=(hourval=="09" ? "selected" : undefined))!= "09"
             option(value="10" selected=(hourval=="10" ? "selected" : undefined))!= "10"
             option(value="11" selected=(hourval=="11" ? "selected" : undefined))!= "11"
             option(value="12" selected=(hourval=="12" ? "selected" : undefined))!= "12"
             option(value="13" selected=(hourval=="13" ? "selected" : undefined))!= "13"
             option(value="14" selected=(hourval=="14" ? "selected" : undefined))!= "14"
             option(value="15" selected=(hourval=="15" ? "selected" : undefined))!= "15"
             option(value="16" selected=(hourval=="16" ? "selected" : undefined))!= "16"
             option(value="17" selected=(hourval=="17" ? "selected" : undefined))!= "17"
             option(value="18" selected=(hourval=="18" ? "selected" : undefined))!= "18"
             option(value="19" selected=(hourval=="19" ? "selected" : undefined))!= "19"
             option(value="20" selected=(hourval=="20" ? "selected" : undefined))!= "20"
             option(value="21" selected=(hourval=="21" ? "selected" : undefined))!= "21"
             option(value="22" selected=(hourval=="22" ? "selected" : undefined))!= "22"
             option(value="23" selected=(hourval=="23" ? "selected" : undefined))!= "23"

           select(style="width:49%;margin-left: 2%;" name="mins" class="addInput " + mins_error)
             option(value="select"  selected=(minsval=="select" ? "selected" : undefined))!= "Select Minutes"
             option(value="00"  selected=(minsval=="00" ? "selected" : undefined))!= "00"
             option(value="05"  selected=(minsval=="05" ? "selected" : undefined))!= "05"
             option(value="10"  selected=(minsval=="10" ? "selected" : undefined))!= "10"
             option(value="15"  selected=(minsval=="15" ? "selected" : undefined))!= "15"
             option(value="20"  selected=(minsval=="20" ? "selected" : undefined))!= "20"
             option(value="25"  selected=(minsval=="25" ? "selected" : undefined))!= "25"
             option(value="30"  selected=(minsval=="30" ? "selected" : undefined))!= "30"
             option(value="35"  selected=(minsval=="35" ? "selected" : undefined))!= "35"
             option(value="40"  selected=(minsval=="40" ? "selected" : undefined))!= "40"
             option(value="45"  selected=(minsval=="45" ? "selected" : undefined))!= "45"
             option(value="50"  selected=(minsval=="50" ? "selected" : undefined))!= "50"
             option(value="55"  selected=(minsval=="55" ? "selected" : undefined))!= "55"

         div(class="textentry")
           input(type="text" id="datepicker" name="datepicker" placeholder="Date" style="width:100%" class="addInput "  + datepicked_error value=dateval)
         div(class="buttons" style="")
           //input(type="submit" class="button" value="Get in")
           button.btn.btn-success.btn-lg.btn-block.addBtn(type='submit') Add
     div(class="foot")
       img(src="images/foot.png", alt="Netlight", style="border-width:0px; width: 50px")

  #calendarGroupStage.container.allMatch
    if all && all!=null && all.length > 0
        div(id="ctl00_Div2"  class="row roundHdr")
          h1= 'Matches'
          - nodups = []
          - each phaseone in all 
               - if(nodups.indexOf(phaseone.shortdate) == -1)
                   - link = "/event/"+phaseone.shortdate
                   - pastdate = ""
                   ul(class="calendar-list")
                     li
                       - if(moment(phaseone.shortdate).diff(moment(now).subtract('days', 1)) < 0)
                          - pastdate = "pastdate"
                          span(class="fa fa-trophy fonticon")
                       - else
                          span(class="fa fa-futbol-o fonticon")                       
                       a(href=link class="fonticon-text " + pastdate)= phaseone.shortdate
                       - nodups.push(phaseone.shortdate)
  //#secondPhase.container
    if secondPhase && secondPhase!=null && secondPhase.length > 0
        div(id="ctl00_Div2" class="row roundHdr")
          h1= 'Round of 16'
          - nodups = []
          - each phase in secondPhase 
               - if(nodups.indexOf(phase.shortdate) == -1)
                   - link = "/event/"+phase.shortdate
                   - pastdate = ""
                   ul
                      li
                         - if(moment(phase.shortdate).diff(moment(now).subtract('days', 1)) < 0)
                            - pastdate = "pastdate"
                            span(class="icon-check")
                         a(href=link class=pastdate)= phase.shortdate
                         - nodups.push(phase.shortdate)
 
  //#quarters.container
    if quarters && quarters!=null && quarters.length > 0
        div(id="ctl00_Div2"  class="row roundHdr")
          h1= 'Quarter-Finals'
          - nodups = []
          - each phase in quarters 
               - if(nodups.indexOf(phase.shortdate) == -1)
                   - link = "/event/"+phase.shortdate
                   - pastdate = ""
                   ul
                      li
                         - if(moment(phase.shortdate).diff(moment(now).subtract('days', 1)) < 0)
                            - pastdate = "pastdate"
                            span(class="icon-thumbs-up-1")                         
                         a(href=link class=pastdate)= phase.shortdate
                         - nodups.push(phase.shortdate)

  //#semis.container
    if semis && semis!=null && semis.length > 0
        div(id="ctl00_Div2"  class="row roundHdr")
          h1= 'Semi-Finals'
          - nodups = []
          - each phase in semis 
               - if(nodups.indexOf(phase.shortdate) == -1)
                   - link = "/event/"+phase.shortdate
                   - pastdate = ""
                   ul
                      li
                         - if(moment(phase.shortdate).diff(moment(now).subtract('days', 1)) < 0)
                            - pastdate = "pastdate"
                            span(class="icon-thumbs-up-1")
                         a(href=link class=pastdate)= phase.shortdate
                         - nodups.push(phase.shortdate)

  //#third.container
    if third && third!=null && third.length > 0
        div(id="ctl00_Div2"  class="row roundHdr")
          h1= 'Third Place'
          - nodups = []
          - each phase in third 
               - if(nodups.indexOf(phase.shortdate) == -1)
                   - link = "/event/"+phase.shortdate
                   - pastdate = ""
                   ul
                      li
                         - if(moment(phase.shortdate).diff(moment(now).subtract('days', 1)) < 0)
                            - pastdate = "pastdate"
                            span(class="icon-thumbs-up-1")
                         a(href=link class=pastdate)= phase.shortdate
                         - nodups.push(phase.shortdate)
                   
 // #finals.container
        div(id="ctl00_Div2"  class="row roundHdr")
          h1= 'FINAL'
          - nodups = []
          - each phase in finals 
               - if(nodups.indexOf(phase.shortdate) == -1)
                   - link = "/event/"+phase.shortdate
                   - pastdate = ""
                   ul
                      li
                         - if(moment(phase.shortdate).diff(moment(now).subtract('days', 1)) < 0)
                            - pastdate = "pastdate"
                            span(class="icon-thumbs-up-1")
                         a(href=link class=pastdate)= phase.shortdate
                         - nodups.push(phase.shortdate)
