extends layout

block content
  link(rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
  script(src="https://code.jquery.com/jquery-1.12.4.js")
  script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
  script.
    $( function() {$( "#datepicker" ).datepicker();} );
  #calendarGroupStage.container.addMatch
   h1= 'Add Matches'
   p You can start adding matches for the league
   div(id="ctl00_Div2" style="" class="row")
     div
       if message
         div(class="alert alert-danger")!= message
       if addedMatch
         div(class="alert alert-success")!= "Great. You have added <b>" + addedMatch + "</b>"
       if notaddedMatch
         div(class="alert alert-danger")!=  notaddedMatch
       form(action="/add" method="post")
         div(class="textentry")
           input(name="home_team" type="text" id="home_team" class="form-control" placeholder="Home Team")
         div(class="textentry")
           input(name="visitor_team" type="text" id="visitor_team" class="form-control" placeholder="Visitor Team")
         div(class="textentry")
           select(style="width:100%" name="league")
             option(value="select")!= "Select League"
             option(value="France")!= "France"
             option(value="Italy")!= "Calcio Italy"
             option(value="United States")!= "MLS"
             option(value="uk")!= "UK Premiership"
             option(value="Brazil")!= "Brazil"
             option(value="Argentina")!= "Argentina"
             option(value="ChampionsLeague")!= "Champions League"
             option(value="EuropaLeague")!= "Europa League"
             option(value="Other")!= "Other"

         div(class="textentry")
           select(style="width:45%" name="hr")
             option(value="select")!= "Select Hour"
             option(value="00")!= "00"
             option(value="01")!= "01"
             option(value="02")!= "02"
             option(value="03")!= "03"
             option(value="04")!= "04"
             option(value="05")!= "05"
             option(value="06")!= "06"
             option(value="07")!= "07"
             option(value="08")!= "08"
             option(value="09")!= "09"
             option(value="10")!= "10"
             option(value="11")!= "11"
             option(value="12")!= "12"
             option(value="13")!= "13"
             option(value="14")!= "14"
             option(value="15")!= "15"
             option(value="16")!= "16"
             option(value="17")!= "17"
             option(value="18")!= "18"
             option(value="19")!= "19"
             option(value="20")!= "20"
             option(value="21")!= "21"
             option(value="22")!= "22"
             option(value="23")!= "23"

           select(style="width:45%;margin-left: 10px;" name="mins")
             option(value="select")!= "Select Minutes"
             option(value="00")!= "00"
             option(value="05")!= "05"
             option(value="10")!= "10"
             option(value="15")!= "15"
             option(value="20")!= "20"
             option(value="25")!= "25"
             option(value="30")!= "30"
             option(value="35")!= "35"
             option(value="40")!= "40"
             option(value="45")!= "45"
             option(value="50")!= "50"
             option(value="55")!= "55"

         div(class="textentry")
           input(type="text" id="datepicker" style="width:100%")
         div(class="buttons" style="")
           //input(type="submit" class="button" value="Get in")
           button.btn.btn-success.btn-lg.btn-block(type='submit') Add
     div(style="padding:35px;text-align:center")
       img(src="images/foot.png", alt="Netlight", style="border-width:0px; width: 50px")

  #calendarGroupStage.container.allMatch
    if all && all!=null && all.length > 0
        div(id="ctl00_Div2"  class="row roundHdr")
          h1= 'Matches'
          - nodups = []
          - each phaseone in all 
               - if(nodups.indexOf(phaseone.shortdate) == -1)
                   - link = "/event/"+phaseone.shortdate
                   - pastdate = ""
                   ul
                     li
                       - if(moment(phaseone.shortdate).diff(moment(now).subtract('days', 1)) < 0)
                          - pastdate = "pastdate"
                          span(class="icon-check")
                       a(href=link class=pastdate)= phaseone.shortdate
                       - nodups.push(phaseone.shortdate)
  //#secondPhase.container
    if secondPhase && secondPhase!=null && secondPhase.length > 0
        div(id="ctl00_Div2" class="row roundHdr")
          h1= 'Round of 16'
          - nodups = []
          - each phase in secondPhase 
               - if(nodups.indexOf(phase.shortdate) == -1)
                   - link = "/event/"+phase.shortdate
                   - pastdate = ""
                   ul
                      li
                         - if(moment(phase.shortdate).diff(moment(now).subtract('days', 1)) < 0)
                            - pastdate = "pastdate"
                            span(class="icon-check")
                         a(href=link class=pastdate)= phase.shortdate
                         - nodups.push(phase.shortdate)
 
  //#quarters.container
    if quarters && quarters!=null && quarters.length > 0
        div(id="ctl00_Div2"  class="row roundHdr")
          h1= 'Quarter-Finals'
          - nodups = []
          - each phase in quarters 
               - if(nodups.indexOf(phase.shortdate) == -1)
                   - link = "/event/"+phase.shortdate
                   - pastdate = ""
                   ul
                      li
                         - if(moment(phase.shortdate).diff(moment(now).subtract('days', 1)) < 0)
                            - pastdate = "pastdate"
                            span(class="icon-thumbs-up-1")                         
                         a(href=link class=pastdate)= phase.shortdate
                         - nodups.push(phase.shortdate)

  //#semis.container
    if semis && semis!=null && semis.length > 0
        div(id="ctl00_Div2"  class="row roundHdr")
          h1= 'Semi-Finals'
          - nodups = []
          - each phase in semis 
               - if(nodups.indexOf(phase.shortdate) == -1)
                   - link = "/event/"+phase.shortdate
                   - pastdate = ""
                   ul
                      li
                         - if(moment(phase.shortdate).diff(moment(now).subtract('days', 1)) < 0)
                            - pastdate = "pastdate"
                            span(class="icon-thumbs-up-1")
                         a(href=link class=pastdate)= phase.shortdate
                         - nodups.push(phase.shortdate)

  //#third.container
    if third && third!=null && third.length > 0
        div(id="ctl00_Div2"  class="row roundHdr")
          h1= 'Third Place'
          - nodups = []
          - each phase in third 
               - if(nodups.indexOf(phase.shortdate) == -1)
                   - link = "/event/"+phase.shortdate
                   - pastdate = ""
                   ul
                      li
                         - if(moment(phase.shortdate).diff(moment(now).subtract('days', 1)) < 0)
                            - pastdate = "pastdate"
                            span(class="icon-thumbs-up-1")
                         a(href=link class=pastdate)= phase.shortdate
                         - nodups.push(phase.shortdate)
                   
 // #finals.container
        div(id="ctl00_Div2"  class="row roundHdr")
          h1= 'FINAL'
          - nodups = []
          - each phase in finals 
               - if(nodups.indexOf(phase.shortdate) == -1)
                   - link = "/event/"+phase.shortdate
                   - pastdate = ""
                   ul
                      li
                         - if(moment(phase.shortdate).diff(moment(now).subtract('days', 1)) < 0)
                            - pastdate = "pastdate"
                            span(class="icon-thumbs-up-1")
                         a(href=link class=pastdate)= phase.shortdate
                         - nodups.push(phase.shortdate)
