extends layout

block content
  link(rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
  script(src="https://code.jquery.com/jquery-1.12.4.js")
  script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
  script.
    $( function() {$( "#datepicker" ).datepicker();} );
  #calendarGroupStage.container
   h1= 'Add Matches'
   p You can start adding matches for the league
   div(id="ctl00_Div2" style="" class="row")
     div
       if message
         div(class="alert alert-danger")!= message
       form(action="/login" method="post")
         div(class="textentry")
           input(name="home_team" type="text" id="home_team" class="form-control" placeholder="Home Team")
         div(class="textentry")
           input(name="visitor_team" type="text" id="visitor_team" class="form-control" placeholder="Visitor Team")
         div(class="textentry")
           select
             option(value="France")!= "France"
             option(value="Italy")!= "Italy"
             option(value="USA")!= "USA"
             option(value="Brazil")!= "Brazil"
             option(value="Argentina")!= "Argentina"
         div(class="textentry")
           input(type="text" id="datepicker")
         div(class="buttons" style="")
           //input(type="submit" class="button" value="Get in")
           button.btn.btn-success.btn-lg.btn-block(type='submit') Create

  #calendarGroupStage.container
    if groupPhase && groupPhase!=null && groupPhase.length > 0
        div(id="ctl00_Div2"  class="row roundHdr")
          h1= 'First Round'
          - nodups = []
          - each phaseone in groupPhase 
               - if(nodups.indexOf(phaseone.shortdate) == -1)
                   - link = "/event/"+phaseone.shortdate
                   - pastdate = ""
                   ul
                     li
                       - if(moment(phaseone.shortdate).diff(moment(now).subtract('days', 1)) < 0)
                          - pastdate = "pastdate"
                          span(class="icon-check")
                       a(href=link class=pastdate)= phaseone.shortdate
                       - nodups.push(phaseone.shortdate)
  #secondPhase.container
    if secondPhase && secondPhase!=null && secondPhase.length > 0
        div(id="ctl00_Div2" class="row roundHdr")
          h1= 'Round of 16'
          - nodups = []
          - each phase in secondPhase 
               - if(nodups.indexOf(phase.shortdate) == -1)
                   - link = "/event/"+phase.shortdate
                   - pastdate = ""
                   ul
                      li
                         - if(moment(phase.shortdate).diff(moment(now).subtract('days', 1)) < 0)
                            - pastdate = "pastdate"
                            span(class="icon-check")
                         a(href=link class=pastdate)= phase.shortdate
                         - nodups.push(phase.shortdate)
 
  #quarters.container
    if quarters && quarters!=null && quarters.length > 0
        div(id="ctl00_Div2"  class="row roundHdr")
          h1= 'Quarter-Finals'
          - nodups = []
          - each phase in quarters 
               - if(nodups.indexOf(phase.shortdate) == -1)
                   - link = "/event/"+phase.shortdate
                   - pastdate = ""
                   ul
                      li
                         - if(moment(phase.shortdate).diff(moment(now).subtract('days', 1)) < 0)
                            - pastdate = "pastdate"
                            span(class="icon-thumbs-up-1")                         
                         a(href=link class=pastdate)= phase.shortdate
                         - nodups.push(phase.shortdate)

  #semis.container
    if semis && semis!=null && semis.length > 0
        div(id="ctl00_Div2"  class="row roundHdr")
          h1= 'Semi-Finals'
          - nodups = []
          - each phase in semis 
               - if(nodups.indexOf(phase.shortdate) == -1)
                   - link = "/event/"+phase.shortdate
                   - pastdate = ""
                   ul
                      li
                         - if(moment(phase.shortdate).diff(moment(now).subtract('days', 1)) < 0)
                            - pastdate = "pastdate"
                            span(class="icon-thumbs-up-1")
                         a(href=link class=pastdate)= phase.shortdate
                         - nodups.push(phase.shortdate)

  #third.container
    if third && third!=null && third.length > 0
        div(id="ctl00_Div2"  class="row roundHdr")
          h1= 'Third Place'
          - nodups = []
          - each phase in third 
               - if(nodups.indexOf(phase.shortdate) == -1)
                   - link = "/event/"+phase.shortdate
                   - pastdate = ""
                   ul
                      li
                         - if(moment(phase.shortdate).diff(moment(now).subtract('days', 1)) < 0)
                            - pastdate = "pastdate"
                            span(class="icon-thumbs-up-1")
                         a(href=link class=pastdate)= phase.shortdate
                         - nodups.push(phase.shortdate)
                   
  #finals.container
        div(id="ctl00_Div2"  class="row roundHdr")
          h1= 'FINAL'
          - nodups = []
          - each phase in finals 
               - if(nodups.indexOf(phase.shortdate) == -1)
                   - link = "/event/"+phase.shortdate
                   - pastdate = ""
                   ul
                      li
                         - if(moment(phase.shortdate).diff(moment(now).subtract('days', 1)) < 0)
                            - pastdate = "pastdate"
                            span(class="icon-thumbs-up-1")
                         a(href=link class=pastdate)= phase.shortdate
                         - nodups.push(phase.shortdate)
