extends layout

block content
                           
  div(style="padding-left: 20px")
     img(src="/images/armadillo_logo_2.png" alt="" style="border-width:0px; width: 350px;float: right;")
     h1= title
     p See below the complete calendar for the World Cup per phase. Select a date to make predictions & get closer to your fun prize!
   #calendarGroupStage
     if groupPhase && groupPhase!=null && groupPhase.length > 0
        div(id="ctl00_Div2" style="padding:20px; background:rgba(0, 0, 0, 0);margin:20px; width:auto" class="container")
          h1= 'First Round'
          - nodups = []
          - each phaseone in groupPhase 
               - if(nodups.indexOf(phaseone.shortdate) == -1)
                   - link = "/event/"+phaseone.shortdate
                   a(href=link)
                      div!= phaseone.shortdate
                   - nodups.push(phaseone.shortdate)
   #secondPhase
     if secondPhase && secondPhase!=null && secondPhase.length > 0
        div(id="ctl00_Div2" style="padding:20px; background:rgba(0, 0, 0, 0);margin:20px; width:auto" class="container")
          h1= 'Second Phase'
          - nodups = []
          - each phase in secondPhase 
               - if(nodups.indexOf(phase.shortdate) == -1)
                   - link = "/event/"+phase.shortdate
                   a(href=link)
                      div!= phase.shortdate
                   - nodups.push(phase.shortdate)            
 
     #quarters
     if quarters && quarters!=null && quarters.length > 0
        div(id="ctl00_Div2" style="padding:20px; background:rgba(0, 0, 0, 0);margin:20px; width:auto" class="container")
          h1= 'Quarterfinals'
          - nodups = []
          - each phase in quarters 
               - if(nodups.indexOf(phase.shortdate) == -1)
                   - link = "/event/"+phase.shortdate
                   a(href=link)
                      div!= phase.shortdate
                   - nodups.push(phase.shortdate)     

     #semis
     if semis && semis!=null && semis.length > 0
        div(id="ctl00_Div2" style="padding:20px; background:rgba(0, 0, 0, 0);margin:20px; width:auto" class="container")
          h1= 'Semi Finals'
          - nodups = []
          - each phase in semis 
               - if(nodups.indexOf(phase.shortdate) == -1)
                   - link = "/event/"+phase.shortdate
                   a(href=link)
                      div!= phase.shortdate
                   - nodups.push(phase.shortdate)     

     #third
     if third && third!=null && third.length > 0
        div(id="ctl00_Div2" style="padding:20px; background:rgba(0, 0, 0, 0);margin:20px; width:auto" class="container")
          h1= 'Third Place'
          - nodups = []
          - each phase in third 
               - if(nodups.indexOf(phase.shortdate) == -1)
                   - link = "/event/"+phase.shortdate
                   a(href=link)
                      div!= phase.shortdate
                   - nodups.push(phase.shortdate)  
                   
     #finals
        div(id="ctl00_Div2" style="padding:20px; background:rgba(0, 0, 0, 0);margin:20px; width:auto" class="container")
          h1= 'Final'
          - nodups = []
          - each phase in finals 
               - if(nodups.indexOf(phase.shortdate) == -1)
                   - link = "/event/"+phase.shortdate
                   a(href=link)
                      div!= phase.shortdate
                   - nodups.push(phase.shortdate)       
                                                                          
  div(class="footer" style="margin-top:20px;")
     div(style="padding:5px;")
        img(src="images/map.png", alt="Netlight", style="border-width:0px; width: 50px")
        
        
        
        
