extends layout

block content
                           
  div(class="container")
   div(class="row")
    div(class="col-xs-12")
     //img(src="/images/referee.png" alt="" style="border-width:0px; width: 250px;float: right;")
     h1!= title
     span!= "Wondering how our points sytem works and how to participate in BrazilianLight? Look no further... "
     //img(src="/images/brazil_folder.png" alt="" style="float: left;")
     h1()
        span!= 'Points system'
     span!= "<b>-</b> Score was 3-1. Your prediction: 0-1  => 0 points (wrong prediction)<br/>"
     span!= "<b>-</b> Score was 3-1. Your prediction: 1-0 => 3 points (for predicting the winner)<br/>"
     span!= "<b>-</b> Score was 2-2. Your prediction: 1-1 => 3 points (for predicting a draw)<br/>"
     span!= "<b>-</b> Score was 4-2. Your prediction: 2-0 => 4 points (for predicting the winner and winning margin)<br/>"
     span!= "<b>-</b> Score was 1-0. Your prediction: 1-0 => 6 points (perfect prediction) <br/><br/><br/>"
     
     table(class="table table-striped table-responsive table-hover" )
           thead
              tr
                 th!='Score was'
                 th!='Your prediction was'
                 th!='Points you get'
           tbody
              tr
                 td!= "3-1"
                 td!= "0-1"
                 td!= "0 points"
              tr
                 td!= "3-1"
                 td!= "1-0"
                 td!= "3 points"
              tr
                 td!= "2-2"
                 td!= "1-1"
                 td!= "3 points"
              tr
                 td!= "4-2"
                 td!= "2-0"
                 td!= "4 points"
              tr
                 td!= "1-0"
                 td!= "1-0"
                 td!= "6 points"                                                              

     p
        h1(style="font-size:24px")
           img(src="/images/brazil_help_contact.png" alt="" style="border-width:0px;float:center;width:75px")   
           span!= ' '+netlighter +', you can always reach us at:' 
     p 
        a(href="emailto:brazilianlight2014@gmail.com")!= 'brazilianlight2014@gmail.com'
               
               
