extends layout

block content

  link(rel="stylesheet" type="text/css" href=scripts)
  div(id="myCarousel" class="carousel slide" data-ride="carousel")
    ol(class="carousel-indicators")
        li(data-target="#myCarousel" data-slide-to="0" class="active")
        li(data-target="#myCarousel" data-slide-to="1")
        li(data-target="#myCarousel" data-slide-to="2")
        li(data-target="#myCarousel" data-slide-to="3")
 
    div(class="carousel-inner")
        div(class="active item")
            h2!='Brazil'
            div(class="carousel-caption")
              img(src="/images/carousel1.jpg" alt="")
              h3!='Brazil is the crowd favorite!'
              p!='If there is one team that does not want to be let off, it is Brazil... ' 
                 a(href="http://www.fifa.com/associations/association=bra/", target="_blank")!= 'Read More'
                 

        div(class="item")
            h2!='Brazil'
            div(class="carousel-caption")
              img(src="/images/carousel2.jpg" alt="")
              h3!='Should they not win...'
        div(class="item")
            h2!='Brazil'
            div(class="carousel-caption")
              img(src="/images/carousel3.jpg" alt="")
              h3!='Neymar!'
        div(class="item")
            h2!='Spain'
            div(class="carousel-caption")
              img(src="/images/carousel4.jpg" alt="")
              h3!='Spain stunned the world in 2010'
              p!='Can they keep their crown? ' 
                 a(href="http://www.fifa.com/associations/association=esp/", target="_blank")!= 'Read More'
    a(class="carousel-control left" href="#myCarousel" data-slide="prev")
        span(class="glyphicon glyphicon-chevron-left")
    a(class="carousel-control right" href="#myCarousel" data-slide="next")
        span(class="glyphicon glyphicon-chevron-right")



               
  div(class="footer" style="margin-top:20px; position:relative !important;")
     div(style="padding:5px;")
        img(src="images/armadillo.png", alt="Netlight", style="border-width:0px; width: 50px")