extends layout

block content
                           
  div(style="padding-left: 20px;")
     p
        img(src="/images/neymar.png" alt="" style="float: left;")
     h1= title
     p!= "So far, the World Cup is going strong! Check the current ranking below! <b>Points</b> are aggregated based on our <a href='/help'>point system</a>.<br/>"
  #netlighters
     div(id="ctl00_Div2" style="padding:20px;background:rgba(0, 0, 0, 0);border:none;margin:20px; width:auto" class="container").match
      if netlighters !=null && netlighters.length > 0  
        - i = 0
        - className = ""
        table(class="table table-striped table-responsive table-hover" width="647")
           thead
              tr
                 th!='Ranking'
                 th!='Name'
                 th!='Points'                    
           tbody
              - each netlighter in netlighters
                - i++
                - netlighterid = netlighter.id
                - className = ""
                - if(netlighterid == userid)
                    - netlighterid = "<b>" + netlighterid + "</b>"
                    - className = "success"
                   - participantName = netlighterid.split('@')
                   tr(class=className)
                      td!= i
                      td!= participantName[0]
                      td!= netlighter.totalpoints
               
               
  div(class="footer" style="margin-top:20px")
     div(style="padding:5px;")
        img(src="images/map.png", alt="Netlight", style="border-width:0px; width: 50px")